div.row {
    text-align: center;
    width: 100%;
    height: 50vh;
    font-family: sans-serif;
    font-weight: 700;
    font-size: larger;
}

.col-sm {
    display: flex;
    justify-content: center;
    align-items: center;

}

.col-sm-8 {

    display: flex;
    justify-content: center;
    align-items: center;
}

.col-sm-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}