.div1 li{
    justify-content: center;
    align-items:center;
    display: flex;
    text-align: center;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    font-weight: 700;
    font-size: larger;
}