div.row {
    width: 100%;
    height: 100vh;
}

.col-sm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-sm-8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-sm-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card1 {
    height: 170px;
}

.card-title {
    text-align: left;
    font-family: sans-serif;
    font-weight: bolder;
    background-color: #f1c40f;
}

.card-text {
    font-family: sans-serif;
    font-weight: 500;
    text-align: left;
    background-color: #c0392b;
}