div.row {
    width: 100%;
    height: 100vh;
}

.row {
    align-items: center;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}

.card-title {
    text-align: left;
    font-family: sans-serif;
    font-weight: bolder;
}

.card-text {
    font-family: sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 18px;
}

.card-body a {
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.card-body img {
    width: 20%;
}

.card-body h5 {
    margin-top: 20px;
}

.card:hover {
    transform: scale(1.1);
    background-color: greenyellow;
    border-style: solid;
}
* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 28px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}