div.row {
    width: 100%;
    height: 50vh;
}
.row{
    align-items: center;
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.card-title {
    text-align: left;
    font-family: sans-serif;
    font-weight: bolder;
}

.card-text {
    font-family: sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 20px;
}
.card-body a{
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.card-body img{
    width: 22%;
}
.card-body h5{
    margin-top: 20px;
}
.card:hover{
    transform: scale(1.1);
    background-color: greenyellow;
}